.welcome,
.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5vh;
}
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

label {
  margin-right: 10px;
}

input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
/*
@media only screen and (max-width: 600px) {
  .form-container {
    height: auto;
  }

  form {
    width: 80%;
  }

  .form-group {
    flex-direction: column;
    align-items: flex-start;
  }

  label {
    margin-right: 0;
    margin-bottom: 5px;
  }
}
*/
